.copy-code-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10vw;
    background: rgba(31, 57, 64, 0.68);
    box-shadow: 0px 2px 4px 0px rgba(243, 243, 243, 0);
    width: 300px; /* Set the desired fixed width */
    margin: 5rem auto; /* Center the card horizontally */
    border-radius: 0.5rem;
}
.copy-section {
    display: inline-flex; /* Use inline-flex to fit the size of its elements */
    flex-direction: row;
    align-items: center;
    gap: 50px; /* Add gap between the elements */
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(243, 243, 243, 0);
    width: auto; /* Set width to auto */
    border-radius: 0.5rem;
    padding: 5px 30px; /* Add padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.copy-section p {
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
    color: #0000009c;
}

.copy-section button {
    display: block;
    width: 60%;
    padding: 8px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* Increase the gap between the button and other elements */
}

.copy-section button:hover {
    background-color: #45a049;
}